@import "./mixins"
#projects
    background: rgb(255,255,255)
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(17,0,128,0.3085609243697479) 40%)
    min-height: 100vh
.projectsHeader
    padding-top: 5rem 
    font-family: Source Code Pro
    text-align: center
    font-size: 40px
    @include phone
        margin-bottom: 5rem
        font-size: 30px
.ProjectsContainer
    display: flex
    flex-wrap: wrap
    width: 100%
    height: auto
    justify-content: space-around
    align-items: center
    @include phone
        justify-content: center
        
.singleProject
    height: 500px
    width: 320px
    background-color: white
    position: relative
    border-radius: 10px
    box-shadow: 0 0 15px rgb(0, 0, 0)
.Projectsframe
    width: 100%
    height: 100%
    border-radius: 10px
    border: 0 
.singleProjectContainer
    text-align: center
    font-family: Source Code Pro
    margin: 2%
.projectsDescription
    text-align: center
    font-family: Source Code Pro
    font-size: large
    max-width: 600px
    margin: 2% auto 2% auto
    @include phone
        font-size: 18px
        margin: 2% 2rem 5rem 2rem 
.button
    width: 100%
