.landingPage
    height: 100vh
    display: flex
    align-items: center
.Introduction
    margin-left:  20%
    display: block
    font-family: Source Code Pro
    animation: 4s appear
h1
    margin: 0
h3
    margin: 0
    opacity: 50%
    font-size: 15px
button
    border-radius: 50%
    border: 1px solid darkblue
    height: 50px
    width: 50px
    
@keyframes appear
    from {opacity: 0}
        
    to {opacity: 100%}
        
    