@import "./mixins"

#skills
    height: 100vh
    background: rgb(17,0,128)
    background: linear-gradient(0deg, rgba(17,0,128,0.3085609243697479) 0%, rgba(255,255,255,1) 90%)
    display: flex
    flex-basis: 50%
    flex-wrap: wrap
    justify-content: space-evenly
    overflow-y: hidden
    @include tablet
        flex-direction: column
    @include phone
        height: auto
.wrapper
    font-family: Source Code Pro
    align-items: center
    display: flex
    width: 100%
    justify-content: space-evenly
    @include tablet
        margin: auto
        flex-direction: column
        text-align:justify-all
.active
    animation: 3s borderAppear 
    width: 100%
.hidden
    opacity: 0
.smallHeader
    text-align: center
    @include phone
        font-size: 20px
        margin: 10%
.speechAboutMe
    @include tablet
        margin: auto
        text-align: justify
        width: 400px
    @include phone
        width: auto
        
.speech
    width: 500px
    @include phone
        width: 80%
.skillIcons
    display: flex
    flex-wrap: wrap
    gap: 10px
    justify-content: space-evenly
    flex-basis: 33%
    max-width: 450px
    @include tablet
        margin: auto
    @include phone
        margin-top: 2rem
        width: 60%
h2
    margin-bottom: 2rem 
.meContainer
    border-radius: 50%
    width: 400px
    height: 400px
    overflow: hidden
    position: relative
    box-shadow: 0px 0px 14px 2px black
    animation: 10s shadowAppear
    @include medium-large
        width: 300px
        height: 300px
        margin: auto
    @include tablet
        width: 150px
        height: 150px
        margin: 5% 0 5% 0
        
.me
    width: 150%
    position: absolute
    left: 50%
    top: 50%
    -webkit-transform: translateY(-50%) translateX(-50%)
    @include tablet
        width: 225px

.personalSkill
    font-weight: bold
    margin: 3% 0 3% 0
    @include phone
        font-size: small
        margin: 3% 0 3% 0
.desPersSkill
    margin-left: 5% 
    @include phone
        font-size: x-small
ul
    list-style-type: none

.icon
    width: 96px
    height: 96px
    @include phone
        width: 64px
        height: 64px
    
@keyframes borderAppear 
    0% 
        opacity: 0
        transform: translate(0, 100px)
    100%
        opacity: 1
        transform: translate(0)
@keyframes shadowAppear 
    0% 
        box-shadow: 0px 0px 0px 0px black
    100%
        box-shadow: 0px 0px 14px 2px black

    