@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&family=Source+Code+Pro:ital,wght@0,400;1,200&display=swap");

::-webkit-scrollbar {
  width: 3px;
}
::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(66, 66, 66, 0.507);
  border-radius: 5px;
}
