.app
  min-height: 100vh
  background: var(--paper)

:global(::-webkit-scrollbar)
  width: 3px

:global(::-webkit-scrollbar-track)
  background: transparent

:global(::-webkit-scrollbar-thumb)
  background: rgba(66, 66, 66, 0.507)
  border-radius: 5px
